body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #777272;
    color: #fcf4f4;
    text-align: center;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 20px;
  }
  
  .search {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1bebe;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .transaction-form {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .date-input,
  .description-input {
    width: calc(50% - 5px);
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #585d63;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0e0f0f;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  

  .transaction-table th,
  .transaction-table td {
    padding: 8px;
    border: 1px solid #b3a7a7;
  }
  
  .transaction-table th {
    background-color: #8a8080;
  }
  